<section id="form">
	<!--form-->
	{{#if message2}}
	<script>
		var txt;
		var r = confirm("Sign Up Success. Please confirm your account via gmail");
		if (r == true) {
			txt = "You pressed OK!";
		} else {
			txt = "You pressed Cancel!";
		}
	</script>
	{{/if}}
	<div class="container">

		<div class="login-form">
			<!--login form-->

			<h2 style="color:black;"><b>Đăng nhập với tài khoản của bạn</b></h2>
			<form method="POST" action="/buyer/login">
				{{#if message}}
				<div class="alert alert-warning">
					{{message}}
				</div>
				{{/if}}

				<input name="email" type="email" placeholder="Nhập tài khoản email" />
				<span class="d-none"></span>
				<input name="password" type="password" placeholder="Nhập mật khẩu" />
				<span class="d-none"></span>
				<div>
					<button type="submit" class="btn btn-default login-button">Đăng nhập</button>
				</div>

				<div class="login-other-method">
					<div class="login-line"></div>
					<span class="login-or">HOẶC</span>
					<div class="login-line"></div>
				</div>


				<div class="login-methods">
					<div class="login-methods-inline">
						<div class="btn-group">
							<a class='btn btn-danger disabled'><i class="fa fa-google-plus"
									style="width:16px; height:20px"></i></a>
							<a class='btn btn-danger' href='/buyer/google' style="width:12.5em">Đăng nhập với
								Google</a>
						</div>

						<div class="btn-group">
							<a class='btn btn-primary disabled'><i class="fa fa-facebook"
									style="width:16px; height:20px"></i></a>
							<a class='btn btn-primary' href='/buyer/facebook' style="width:12.5em"> Đăng nhập với
								Facebook</a>
						</div>
					</div>
				</div>

				<div>
					<a href="/buyer/forgot">Quên mật khẩu</a>
					<br>
					<div>
						<span>Bạn mới đến Tech Shop?</span>
						<a href="/buyer/signup">Đăng ký</a>
					</div>
				</div>
			</form>
		</div>
		<!--/login form-->

	</div>
</section>
<!--/form-->